RAW_JSON_URL=https://github.com/tristan-f-r/npm-rank/releases/download/latest/raw.json
OPENAI_API_KEY="OPENAI_API_KEY"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
PACKAGE_LIMIT="10000"
EMBEDDING_BATCH_SIZE="100"
UPSERT_BATCH_SIZE="100"
QDRANT_URL=http://localhost:6333
DATABASE_CONNECTION_STRING=postgresql://npmatch:npmatch@localhost:5432/npmatch
ENV="dev"
