RAW_JSON_URL=https://github.com/tristan-f-r/npm-rank/releases/download/latest/raw.json
OPENAI_API_KEY="OPENAI_API_KEY"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
PINECONE_API_KEY="PINECONE_API_KEY"
PINECONE_INDEX_NAME="npmatch"
PACKAGE_LIMIT="10000"
EMBEDDING_BATCH_SIZE="100"
UPSERT_BATCH_SIZE="100"
ENV="dev"